.header-nav__company-info {
    background: url("../../img/header-nav/header-bg.jpg") center;
    height: 17em;
}

.header-nav__company-info-box {
    display: flex;
}

.header-nav__company-name {
    background: #fff;
    opacity: 0.75;
    flex-grow: 1;
    color: #323232;
    font: 2em Verdana;
    font-weight: normal;
    line-height: 6em;
    padding-left: 2em;
    letter-spacing: -0.04em;
}

.header-nav__company-phone {
    font: 2.4em 'Trebuchet MS';
    background: #fff;
    opacity: 0.75;
    color: #000;
    height: 4.8rem;
    line-height: 1.8em;
    text-align: center;
}

.header-nav__panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #003952;
}

.header-nav__panel-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header-nav__panel-menu li {
    padding: 0.5em 0;
    text-align: center;
    list-style: none;
    height: 3.3em;
    line-height: 3.3em;
}

.header-nav__panel-menu li:not(.header-nav__panel-menu--active) {
    list-style: none;
    background: #003952;
}

.header-nav__panel-menu li:not(.header-nav__panel-menu--active) a {
    color: #fff;
}

.header-nav__panel-menu li a {
    text-decoration: none;
    font: 1.4em 'PragmaticaC';
}

.header-nav__panel-menu--active {
    background: #fff;
}

.header-nav__panel-menu--active a {
    color: #555;
}

.header-nav__panel-search-box{
    padding: 0.5em 0;
    height: 3.3em;
}

.header-nav__panel-search {
    border-radius: 2em;
    border: none;
    text-indent: 3.5em;
    height: 2.4em;
    outline: none;
    width: 14.5em;
    background: #fff url("../../img/search/search.png") no-repeat 0.9em center;

    color: #b4b4b4;
    font: 1.4em 'PragmaticaC';
}

@media (min-width: 768px) {
    .header-nav__panel {
        justify-content: space-between;
    }

    .header-nav__panel-menu {
        flex-direction: row;
        height: 6em;
        padding-right: 15em;
        flex: 1;
    }

    .header-nav__panel-menu li {
        line-height: 5em;
        height: 5em;
        flex-grow: 1;
    }

    .header-nav__company-info {
        height: 20em;
        position: relative;
    }

    .header-nav__company-info-box {
        display: flex;
        width: 33.2em;
        padding-top: 4em;
        padding-left: 4em;
    }

    .header-nav__company-phone {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 26rem;
    }


    .header-nav__panel {
        flex-direction: row;
    }

    .header-nav__panel-search-box {
        margin-right: 2em;
    }

}